.secret-page{
  // header
  .secret-page-header{
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // content
  .secret-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    .chelick{
      display: flex;
      flex-direction: column;
      max-width: 900px;
      margin-top: 100px;
      h2{
        font-size: 24px;
      }
      .top-content{
        margin: 20px 0;
        display: flex;
        .face{
          text-align: center;
        }
        .info{
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          .right-side{
            p{
              text-align: right;
              width: auto;
            }
          }
          .right-side, .left-side{
            p{
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .chelick{
    margin-top: 20px!important;
  }
}

@media (max-width: 520px) {
  .secret-page{
    .secret-page-content{
      .chelick{
        .top-content{
          flex-direction: column;
        }
      }
    }
  }
  .min-width-520{
    display: none;
  }
}
