@import "fonts";

*{
  font-family: 'e-Ukraine';
  font-size: 18px;
}

body{
  display: flex;
  min-width: 400px;
  justify-content: center;
  margin: 0;
}
main{
  display: flex;
}

.hr-line{
  width: 100%;
  height: 2px;
  background-color: black;
}

.w-100{
  width: 100%!important;
}
#root{
  overflow-x: auto;
}

small{
  font-family: 'e-Ukraine-Light';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'e-Ukraine-Medium';
  text-align: center;
}

.bg-black{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  background-color: black;
}
