@import "fonts";

*{
  font-family: 'e-Ukraine';
  font-size: 18px;
}

body{
  display: flex;
  justify-content: center;
}
main{
  display: flex;
  margin-top: 150px;
}
@media (max-width: 1000px) {
  main{
    flex-direction: column;
  }
}
