@font-face {
  font-family: 'e-Ukraine';
  src: local('e-Ukraine'), url(fonts/e-Ukraine-Regular.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Medium';
  src: local('e-Ukraine-Medium'), url(fonts/e-Ukraine-Medium.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Light';
  src: local('e-Ukraine-Light'), url(fonts/e-Ukraine-Light.woff) format('woff');
}

